table {
    width: 100%;
    border: 1px solid black;
}

td, th {
    padding: 10px;
    text-align: left !important;
    border: 1px solid black;
}

td:nth-last-child() {
    text-align: center;
}

.delete-btn {
    margin-right: 20px;
}